# Путь к папке с виртуальным окружением
venv/
.venv/

# Файлы и папки, созданные IDE
.idea/
*.iml

# Логи
*.log

# Файлы дампов памяти
*.dmp

# Файлы сборки
build/
dist/

# Временные файлы
*.pyc
*.pyo
__pycache__/

# Файл .DS_Store на macOS
.DS_Store

# Файлы настроек пользователей
.userprefs/

# Локальные настройки проекта
.project

# Файлы данных
data/

# Файлы журналов тестов
htmlcov/
.coverage
.tox/

# Системные файлы
Thumbs.db